@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color:  #F1F5F9;
}

body{
    background-color: #1E1F28;
}

hr{
    opacity: 1;
}

.short-hr{
    width: 66px;
    height: 4px !important;
    background-color: #f80834;
    opacity: 1;
}

.base-button{
    padding: 1rem 4rem;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.hidden{
    display: none !important;
}

/* Base Header */

.base-content-size{
    width: 90%;
    float: right;
}

.base-content{
    display: flex;
    justify-content: space-between;
}

.base-header-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.base-header{
    position: relative;
}

.red-square{
    width: 40px;
    height: 40px;
    background-color: #f80834;
    position: absolute;
    z-index: -1;
}

.base-header h2{
    font-size: 50px;
    font-weight: bold;
    margin-left: .8rem;
    padding-top: .5rem;
}

.left-base-content p{
    width: 40%;
    font-size: 22px;
}

.left-base-content hr{
    margin-bottom: 2rem;
}

/* NavBar */

.main-nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.logo img{
    width: 95px;
    height: 97px;
}

.logo h2{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.info{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
}

.nav-item{
    margin: 1rem;
    font-weight: bold;
    font-size: 20px;
    transition: 400ms;
}

.nav-item:hover{
    color: #f80834;
    cursor: pointer;
}

.number h2{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.number span{
    color: #f80834;
    font-weight: bold;
}

.page-number{
    padding: 2rem 0 1rem 0;
}

.page-number h3{
    margin-right: 2rem;
    color: #f80834;
    margin-bottom: .5rem;
}

.page-number hr{
    margin: 0;
    height: 4px;
    background-color: #f80834;
}

.page-number h4{
    margin-top: .5rem;
}

.nav-line{
    border: 1px solid #2E2E2E;
    margin: 0 3rem;
}

/* Header */

.header{
    position: relative;
    height: 85vh;
}

.text-rotate{
    top: 50%;
    /* The Header will be 100vh so i just give the top 50% to be center */
    left: -10rem;
    position: absolute;
    transform: rotate(-90deg);
    display: flex;
}

.text-rotate hr{
    height: 4px;
    background: #F80834;
    width: 150px;
    margin-right: 1rem;
}

.text-rotate h2{
    color: #f80834;
    letter-spacing: 0.4rem;
    line-height: 2.24rem;
}

.header-content{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content h1{
    font-size: 80px;
    font-weight: bold;
}

.header-content h2{
    font-size: 50px;
    font-weight: bold;
}

.header-content hr{
    width: 200px;
    height: 16px;
    color: #f80834;
    margin-top: 0;
}

.header-content p{
    font-size: 26px;
    margin: 3rem 0;
}

.header-content button{
    background-color: #f80834;
}

/* About */

#about{
    height: 100vh;
}

.about-card{
    display: flex;
    width: 90%;
}

.top-card{
    background-color: #262833;
    padding: 2rem 1rem 2rem 2rem;
    border-radius: 2px;
    margin: 1rem;
    transition: 200ms;
}

.full-card:hover .top-card{
    border-bottom: 5px solid #f80834;
}

.full-card:hover .bottom-card{
    border-left: 5px solid #f80834;
}

.top-card i{
    font-size: 4rem;
}

.top-card h3{
    font-size: 30px;
    font-weight: bold;
    margin: 1rem 0;
}

.top-card p{
    font-size: 24px;
}

.top-card button{
    margin: 1rem 0;
    background-color: #f80834;
}

.bottom-card{
    margin: 1rem;
    background-color: #262833;
    padding: 1.5rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    transition: 200ms;
}

.bottom-card:hover{
    cursor: pointer;
}

.bottom-card button{
    background-color: #262833;
    border: none;
    font-weight: bold;
}

/* Course */

.course-top-section{
    height: 100vh;
}

.course-cards{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 2rem;
}

.course-card{
    position: relative;
    margin: 2rem 4.5rem;
    background-color: rgb(141, 160, 154);
    border-radius: 4px;
}

.course-card:hover{
    cursor: pointer;
}

.course-card:hover .course-overview{
    opacity: 0;
}

.course-detail{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262833;
}

.course-detail p{
    font-size: 20px;
}

.course-overview{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f80834;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 400ms;
}

.fa-network-wired{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cta-course{
    background-color: #f80834;
    margin-bottom: 8rem;
}

.cta-course-size{
    height: 30vh;
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.cta-course-size h2{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.cta-course-button{
    display: flex;
}

.normal-button{
    color: #f80834;
    margin: 0 3rem 0 0;
}

.arrow-button{
    background-color: #1E1F28;
}

.arrow-button i{
    margin-left: 1rem;
}

/* Review */

#review{
    height: 100vh;
}

.review{
    margin-bottom: 8rem;
}

.review-top-section{
    height: 40vh;
}

.review-bottom-section{
    margin-top: 4rem;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.review-card{
    margin: 2rem;
    padding: 2rem;
    background-color: #181920;
}

.reviewer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.reviewer-content h2{
    font-weight: bold;
    font-size: 36px;
}

.reviewer-content hr{
    margin-bottom: .8rem;
}

.reviewer-content h3{
    font-size: 20px;
    opacity: .5;
    font-weight: bold;
}

.reviewer-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.reviewer-img img{
    width: 100%;
    height: 100%;
}

.reviewer-text{
    padding-right: 4rem;
}

.reviewer-text p{
    font-size: 20px;
    line-height: 2rem;
}

/* SLick Dots Ui Start*/

.slick-dots{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.slick-dots li{
    margin: 0 1rem;
}

.slick-dots li.slick-active button .slick-hr{
    background-color: #f80834;
}

.slick-dots li button{
    background-color: transparent;
    border: none;
    margin-top: 2rem;
}

.slick-hr{
    opacity: 1;
    width: 50px;
    height: 4px !important;
    background-color: #2A2E38;
}

/* Slick Dots Ui end */

.review button{
    background-color: #f80834;
    color: white;
    text-align: center;
    margin-top: 4rem;
}

.review button i{
    margin-left: 1rem;
}

/* Register */

#register{
    height: 100vh;
}

.register-content h2{
    font-weight: bold;
}

.register-content p{
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.register-content button{
    background-color: #f80834;
}

.register-content button i {
    margin-left: 1rem;
}

/* Contact */

#contact{
 height: 100vh;   
}

.contact{
    margin-bottom: 4rem;
}

.contact-card{
    margin-top: 4rem;
    display: flex;
    width: 90%;
}

.mail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f80834;
}

.mail img{
    margin-bottom: 2rem;
}

.field{
    padding: 2rem;
    background-color: #181920;
}

.field h1{
    font-weight: bold;
}

.name-field{
    display: flex;
}

.first-name-input{
    margin-right: 1rem;
}
.form-control{
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-weight: bold;
    color: white;
    background: #34303C;
    border: none;
}

.form-control:focus{
    color: white;
    box-shadow: none;
    background: #34303C;
    border: none;
}

.field button{
    background-color: #f80834;
}

.field button img{
    width: 22px;
}

/* Footer */

#footer{
    margin-top: 4rem;
    margin-bottom: 8rem;
}

.footer{
    display: flex;
    width: 80%;
    margin: auto;
}

.footer-logo{
    display: flex;
    align-items: center;
}

.footer-logo img{
    width: 100px;
    height: auto;
}

.footer-logo h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

.social{
    display: flex;
}

.social i {
    margin: 2rem;
    font-size: 2rem;
    color: #A0A0A0;
}

.social i:hover{
    color: white;
    cursor: pointer;
}

.social img{
    width: 36px;
    margin: 2rem;
}

.social img:hover{
    cursor: pointer;
}

.footer-info ul{
    list-style-type: none;
}

.footer-info .list-head{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2rem;
    color: white;
}

.footer-info ul li{
    font-size: 20px;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.9);
}

.footer-info ul li:hover{
    color: white;
    cursor: pointer;
}


@media screen and (max-width: 1460px) {

    /* Base */

    .base-header h2{
        font-size: 40px;
    }

    .left-base-content p{
        font-size: 18px;
        width: 45%;
    }

    .base-button{
        font-size: 18px;
        padding: 1rem 3rem;

    }

    /* Header */
    .header-content h1{
        font-size: 70px;
    }

    .header-content h2{
        font-size: 40px;
    }

    .header-content hr{
        width: 150px;
    }

    .header-content p{
        font-size: 24px;
    }

    /* ABout */

    .about-card{
        width: 95%;
    }

    .top-card i{
        font-size: 3.5rem;
    }

    .top-card p{
        font-size: 20px;
    }

    /* Course */

    .course-card{
        width:90%;
    }

    .cta-course-size h2{
        font-size: 50px;
    }

    /* Review */

    .review-bottom-section {
        margin-top: 2rem;
    }

    .review-card{
        margin: 1rem;
    }

    .reviewer-content h2{
        font-size: 30px;
    }

    .reviewer-img{
        width: 80px;
        height: 80px;
    }

    .reviewer-text p{
        font-size: 18px;
    }
}

@media screen and (max-width : 1140px) {

    /* Base */
    .base-button{
        padding: 1rem 3rem;
    }

    .left-base-content p{
        width: 90%;
    }

    .base-header h2{
        font-size: 40px;
    }

    /* NavBar */
    .main-nav{
        padding-top: 2rem;
    }

    .logo img{
        width: 65px;
        height: auto;
    }

    .logo h2{
        font-size: 20px;
    }

    .info{
        justify-content: center;
        margin-right: 2rem;
    }

    .nav-item{
        font-size: 18px;
    }

    /* Header */

    #header{
        height: 120vh;
    }

    .header-content{
        flex-wrap: wrap;
        height: 100vh;
    }

    .header-content h1{
        font-size: 60px;
    }

    .header-content h2{
        font-size: 32px;
    }

    .header-content hr{
        width: 150px;
    }

    .header-content p {
        font-size: 20px;
    }

    /* About */

    #about{
        height: 220vh;
    }

    .about-card{
        flex-wrap: wrap;
    }

    .full-card{
        margin-bottom: 4rem;
    }

    /* Course */
    #course{
        height: 180vh;
    }

    .course-cards{
        width: 100%;
    }

    .course-card{
        margin-left: 1rem;
    }

    .course-top-section{
        height: 140vh;
    }

    .cta-course-size{
        width: 80%;
    }

    .cta-course-size h2{
        font-size: 50px;
    }

    /* Review */

    .slick-dots{
        padding: 0;
    }

    /* Register */

    .register-content p{
        width: 80%;
    }

    /* Contact */
    .contact-card{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .mail{
        padding: 4rem;
    }

    /* Footer */
    .footer{
        flex-wrap: wrap;
    }

    .social {
        margin-bottom: 4rem;
    }

    .footer-info ul{
        margin-bottom: 4rem;
    }
}



@media screen and (max-width: 540px) {

    /* Base */

    .base-header h2{
        font-size: 30px;
    }

    .red-square{
        width: 30px;
        height: 30px;
    }

    .left-base-content p {
        font-size: 13px;
        width: 95%;
    }

    .short-hr {
        width: 50px;
    }

    .base-button{
        padding: .7rem 1.5rem;
        font-size: 16px;
    }

    /* NavBar */
    .main-nav{
        padding-top: 1rem;
        align-items: center;
    }

    .openbtn{
        padding: 1rem;
    }

    .openbtn i{
        font-size: 2rem;
    }

    .info{
        align-items: center;
        justify-content: center;
    }

    .nav-items{
        background-color: #262833;
        flex-direction: column;
        position: absolute;
        top: 6rem;
        width: 90%;
        left: 7%;
        align-items: center;
        z-index: 200;
        border-radius: 10px;
        text-align: center;
        padding: 1rem;
    }

    .nav-item{
        width: 90%;
    }

    /* Header */

    .header-content h1{
        font-size: 40px;
    }

    .header-content h2{
        font-size: 20px;
    }

    .header-content hr{
        width: 100px;
    }

    .header-content p{
        font-size: 16px;
    }

    /* About */

    #about{
        height: 300vh;
    }

    .top-card{
        padding: 1rem;
    }

    .top-card i{
        font-size: 3rem;
    }

    .top-card h3{
        font-size: 26px;
    }

    .top-card p{
        font-size: 16px;
    }

    /* Course */

    #course{
        height: 230vh;
    }

    .course-card{
        margin: 1rem;
    }

    .course-detail{
        padding: 1rem;
    }

    .course-detail p{
        font-size: 16px;
    }

    .course-top-section{
        height: 180vh;
    }

    .cta-course-size h2{
        font-size: 30px;
    }

    /* Review */

    .review-card {
        margin: 0;
        padding: 1.5rem;
    }

    .reviewer-content h2{
        font-size: 20px;
    }

    .reviewer-content h3{
        font-size: 16px;
    }

    .reviewer-img {
        width: 60px;
        height: 60px;
    }

    .reviewer-text {
        padding-right: 1rem;
    }

    .reviewer {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .reviewer-text p {
        font-size: 12px;
        line-height: 1.5rem;
    }

    .slick-hr{
        width: 20px;
    }

    .review button{
        margin-top: 2rem;
    }

    /* Register */

    #register{
        height: 120vh;
    }

    .register-content p{
        font-size: 16px;
        width: 90%;
    }

    /* Contact */

    .contact-card{
        width: 100%;
        justify-content: start;
    }

    .mail h2{
        font-size: 16px;
    }

    .form-control{
        font-size: 14px;
    }

    .name-field{
        flex-direction: column;
    }

    /* Footer */

    .social i{
        font-size: 1.5rem;
        margin: 1rem;
    }

    .social img{
        margin: 1rem;
        width: 27px;
        height: 24px;
    }










}